body {
    background-image: url("../img/felt.jpg");
    /* background-repeat: no-repeat; */
    background-size: cover;
    color: white;
}

.container {
    width: 80%;
}

h1 {
    text-align: center;
}

#name-div, #game, #hit, #stay {
    display: none;
}

form, #name-form{
    position: absolute;
    top: 50%;
    left: 50%;
    text-align: center;
    transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    background-color: rgba(140, 140, 140, 0.6);
    padding: 2%;
}

label {
    font-size: 30px;
    color: black;
    text-align: left;
}
  
input {
    color: black;
    font-size: 20px;
}

.player-count-card {
    height: 150px;
}

.player-count-card:hover {
    border: 3px solid black;
}

#player-info {
    margin: 0 auto;
    text-align: center;
    font-size: 24px;
}

.player-hand-images {
    height: 200px;
}